.container {
  padding-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
}

.foot {
  margin: 20px auto;
  text-align: center;
}

.article-item {
  margin-top: 20px;
  margin-bottom: 20px;
}

.article-meta-info {
  margin-top: -15px;
  margin-bottom: 20px;
  color: darkgray;
}

.icon {
  padding: 0 5px;
}

.edit-area {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.edit-form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.new-item {
  font-size: medium;
  padding: 0 5px;
}

body,
p,
blockquote,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}